<aside class="help-sidebar">
    <ul class="nav nav-tabs">
        <label for="md-help-toggle" class="help-toggle"><li>{{ 'MdHelp'|trans }}</li></label>
        <input type="checkbox" id="md-help-toggle" hidden>
    </ul>
    <div class="help-container">
        Здесь будет сама справка
    </div>
</aside>