### IDE
.idea

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> friends-of-behat/symfony-extension ###
## /behat.yml зачем?
###< friends-of-behat/symfony-extension ###

###> Файлы специфичные для инстансов
# потомку что у нас девом завется препрод (возможно потом переименуем)
docker-compose.dev.yml
###< Файлы специфичные для инстансов
