<div class="col-xl-6 col-lg-8 col-sm-10">
    <div id="file-upload-widget">
        <file-upload-widget
                action="{{ path('file.upload') }}"
                target="attachment"
                project="{{ project }}"
                entity-type={{ entityType }}
                entity-id="{{ entityId }}"
        ></file-upload-widget>
    </div>
</div>