<html>
    <body>
        <h1>First controller become</h1>
        <p> Hello {{ hello }}</p>
        <hr>
        {% for task in tasks %}
            <div>
                <h4><b>{{ task.no }}</b> - {{ task.caption }}</h4>
                <p>{{ task.description }}</p>
            </div>
        {% endfor %}
    </body>
</html>