
.label-sm {
    font-size: 50%;
    vertical-align: middle;
}

/* неясно как не сломать ими bootstrap стили */
.style-deleted {
    text-decoration: line-through;
    font-weight: normal;
}
.style-disabled {
    color: #333;
    opacity: 1;
}

a.invisible_link, a.invisible_link:hover {
    color: black;
    text-decoration: none;
    outline: none;
}

.dropdown-menu li .checkbox {
    margin: 10px 1em;
}