@import "~@tabler/core/src/scss/_variables.scss";

$icon-stroke-width: 1;
$icon-size: 1rem;


/* grid */
.card {
  margin-top: 1rem;
}

/* common blocks */
.icon {
  $icon-stroke-width: 1;
  $icon-size: 1rem;
  vertical-align: text-bottom;
}
.fa-icon {
  padding-top: 0.1rem;
}

.badge {
  font-size: $h6-font-size;
}

/* layout blocks */
.breadcrumb-item.active a {
  color: inherit;
  pointer-events: all !important;
}

/* project */
.project-block {
  .security-row {
    color: $text-secondary;
    font-size: 0.75rem;
  }
  .date-row {
    color: $text-secondary;
    font-size: $font-size-75;
  }
  .description-row {
    font-size: $font-size-100;
  }
  hr {
    margin: 0.25em 0;
  }
}

/* task */
.task-link {
  color: $black;
  text-decoration: none;
  outline: none;
}