/*
 * Собственные стили проекта
 */
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";

@import "~bootstrap-sass/assets/stylesheets/bootstrap";

$color-disabled: #333;

/* Common blocks */
.one-block-content {
    margin-top: 1em;
}

/* Projects */
.project-title {
    a, a:hover {
        color: black;
        text-decoration: none;
        outline: none;
    }
}

.project-settings-blocks {
    .settings-block {
        border: $gray-lighter 1px solid;
        border-radius: 0.5em;
        margin: 1em;
        padding: 1em;

        label {
            position: relative;
            top: -2em;
            left: 0;
            padding: 0.2em 1em;
            background-color: $body-bg;
        }
        .help-text {
            color: lighten($text-color, 25%);
            margin-bottom: 0;
        }
        .dictionary-add-item {
            color: $brand-success;
            font-size: large;
            padding: 0.1em 0.3em;
        }
    }
}

/* Tasks */
.task-table {
    th {
        text-align: center;
    }
    .task-col-no {
        font-weight: bold;
        text-align: center;
    }
    .task-col-name {
        width: 50%;
    }
}

.task-properties {
    .task-property-item {
        padding: 0.2em 1em;
    }
}

/* Docs */
.doc-property-string {

    font-style: italic;
    color: $text-muted;
    margin: -0.5em 0.5em 1em 1em;

    span.label {
        margin-right: 0.5em;
    }

    a, &:hover {
        color: $text-muted;
    }
}
.doc-table {
    th {
        text-align: center;
    }
    .doc-col-no {
        font-weight: bold;
        text-align: center;
    }
    .doc-col-caption {
        width: 50%;
    }
}

/* Comments */
.comment-list {
    .comment-head {
        padding: 0 5em 2px 1em;
        border-bottom: $gray-lighter 1px solid;
    }
    .comment-message {
        text-align: left;
        margin-bottom: 1em;
    }
    .comment-form {
        margin: 1em;
        width: 50%;
        .comment-message-field {

        }
    }
}
#modalConfirmClose .comment-form {
    margin: 1em;
}

/* Forms */
/* Create/Edit Entity */
.form-entity {
    .form-group {
        margin: 0 1em;
        .form-label {
            float: left;
            padding: 0 2em;
        }
        .form-widget {
            float: left;
        }
    }
    .form-right-column {
        .form-group {
            margin-top: 1em;
            .form-label {
                float: none;
            }
            .form-widget {
                float: none;
            }
        }
    }
}

.modal-header h5 {
    float: left;
}

/* Other small widgets */

.label-sm {
    font-size: 50%;
    vertical-align: middle;
}

/* неясно как не сломать ими bootstrap стили */
.style-deleted {
    text-decoration: line-through;
    font-weight: normal;
}
.style-disabled {
    color: $color-disabled;
    opacity: 1;
}

a.invisible_link, a.invisible_link:hover {
    color: black;
    text-decoration: none;
    outline: none;
}

.dropdown-menu li .checkbox {
    margin: 10px 1em;
}

.btn-group-vertical .btn-group-vertical {
    margin-bottom: 5px;
}

.btn-group-vertical .btn:first-child:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group-vertical .btn:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

select option.service-item {
    color: $input-color-placeholder;
    font-style: italic;
}

.manual-edit {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}