/* grid */
.card {
  margin-bottom: 1rem;
}
.row-cards {
  margin-top: 0;
}
.card-title a, .card-title a:hover {
  color: $black;
  text-decoration: none;
  outline: none;
}

/* common blocks */
.invisible_link {
  color: $black;
  text-decoration: none;
  outline: none;
}

.icon {
  stroke-width: 1;
  vertical-align: text-bottom;
}
.fa-icon {
  padding-top: 0.1rem;
}

.btn {
  --tblr-btn-padding-x: 0.75rem;
  --tblr-btn-padding-y: 0.5rem;
}

.dropdown-toggle:after {
  margin-left: 0.6rem;
}

.progress {
  height: 1.2rem;
}

/* Badges */
.badge {
  font-size: $h6-font-size;
  margin-right: 0.25rem;
}
.user-badge {
  white-space: nowrap;
}

/* layout blocks */
.nav-link .btn {
  --tblr-btn-padding-x: 0.7rem;
  --tblr-btn-padding-y: 0.4rem;
  .nav-link-icon {
    color: var(--tblr-btn-color); /* $btn-color из bootstrap/buttons */
  }
}

.breadcrumb-item {
  a {
    vertical-align: text-top;
  }
}
.breadcrumb-item.active a {
  color: inherit;
  pointer-events: all !important;
}

/* forms */
form {
  margin: 0;
}
.code-edit {
  font-family: $font-family-monospace;
}

.filter-button {
  --#{$prefix}icon-size: #{$font-size-base * $line-height-base};
  width: calc(var(--#{$prefix}icon-size) * 1.1);
  height: calc(var(--#{$prefix}icon-size) * 1.1);
}

/* tables */
.table {
  tbody {
    font-size: $font-size-100;
  }

  thead {
    .no {
      font-weight: $font-weight-bold;
      font-size: $font-size-75;
    }
    .sort-ctrl {
      padding: 0 0.5rem 0 0;
    }
  }
  .no {
    font-weight: $font-weight-bold;
    text-align: right;
  }
  .full-id {
    font-weight: $font-weight-bold;
    text-align: left;
  }
  .caption {
    min-width: 60%;
  }
  .bool {
    text-align: center;
  }
}
.condensed-table {
  tr td,
  tr td:first-child,
  tr td:last-child {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.locked {
  text-decoration: line-through;
  font-weight: normal;
}

.sortable {
  padding-right: 2em;
}

/* comments */
.comment-widget {
  .comment-message {
    margin-bottom: 1em;
    hr {
      margin: 1rem 2rem;
    }
  }
}

/* wiki and markdown */
.markdown {
  a.not_found {
    color: $color-red;
  }
}