/* Tasks */
.task {
  a.task-link {
    color: $black;
    outline: none;
  }
}
.task-closed {
  text-decoration: line-through;
}

.task-table {
  a.task-link {
    color: $black;
    outline: none;
  }

  min-width: 1000px;
  td {
    padding: 0.25rem 0.7rem;
  }

  .caption {
    width: 50%;
  }
}