<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        <small>v. {{ app_version }}</small>
    </div>
    <!-- Default to the left -->
    <strong>Copyleft &copy; 2021 - {{ app_version_year }} <a href="http://demius.ru">demius</a>.</strong> MIT. <a href="{{ support_url }}">{{ 'Support'|trans }}</a>
</footer>