{% extends 'empty_layout.html.twig' %}
{% block body %}
<body class="layout-fluid">
    <div class="page">
        <aside class="navbar navbar-vertical navbar navbar-vertical navbar-expand-md" data-bs-theme="dark">
                {% include '_sidebar.html.twig' %}
        </aside>
        <header class="navbar navbar-expand-md d-print-none">
            {% include '_navbar.html.twig' %}
        </header>

        <div class="page-wrapper">

            <div class="page-header">
                <div class="container-xl">
                    {% include '_flashmessages.html.twig' %}
                    <div class="row">
                    {% block page_head %}
                        <div class="col">
                            <div class="row align-items-center mw-100">
                                <div class="col">
                                    <div class="mb-1">
                                        {% include '_breadcrumbs.html.twig' %}
                                    </div>
                                </div>
                                <h2 class="page-title">
                                    {% block page_title %}{% endblock %}
                                </h2>
                            </div>
                        </div>
                        <div class="col-auto">
                            {% block page_head_control %}
                            {% endblock%}
                        </div>
                    {% endblock %}
                    </div>
                </div>
            </div>

            <div class="page-body">
                <div class="container-xl">
                    {% block page_content %}
                        <div class="col">
                        </div>
                    {% endblock %}
                </div>
            </div>

            <footer class="footer footer-transparent">
                {% include '_footer.html.twig' %}
            </footer>

            {% include '_modals.html.twig' %}
            {% if app.request.get('addMdHelp') %}
{#                {{ render(controller('App\\Controller\\HomeController::helpMd')) }}#}
            {% endif %}
            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}
        </div>

    </div>
</body>
{% endblock %}
