
{% set active = adminlte_breadcrumbs(app.request) %}
{% set breadcrumbs = breadcrumbs() %}
<ol class="breadcrumb">
    {% for item in breadcrumbs %}
    <li>
        <a href="{{ item.action }}">
            {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
            {{ item.label }}
        </a>
    </li>
    {% endfor %}
</ol>