{% extends 'empty_layout.html.twig' %}

{% block body %}
<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <h1 class="navbar-brand navbar-brand-autodark">
                <a href="{{ path('home') }}">
                    Task & Doc Tracker
                </a>
            </h1>
        </div>
        {% block page_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}