<div id="table-filter-widget">
    <table-filter-widget
        filter-data="{{ table.filterData|json_encode() }}"
        submit-label="{{ 'Submit'|trans }}"
        reset-label="{{ 'Reset'|trans }}"
    >
    </table-filter-widget>
</div>