<tr>
    {% for header in table.headers %}
        <th {% if header.style %}class="{{ header.style }}"{% endif %}>
        {% if header.isSortable %}
            <a class="sortable" href="{{ header.link }}">
                <span class="sort-ctrl">
                {% if header.sortAsc %}
                    <i class="fa fa-sort-up"></i>
                {% elseif header.sortDesc %}
                    <i class="fa fa-sort-down"></i>
                {% else %}
                    <i class="fa fa-sort"></i>
                {% endif %}
                </span>
                {{ header.label }}
            </a>
        {% else %}
            <span>
                {{ header.label }}
            </span>
        {% endif %}
        </th>
    {% endfor %}
</tr>