{%  for row in table.rows %}
    <tr style="{{ row.style }}">
        {% for column in table.headers %}
        {# здесь проставляем класс напрямую ячейке, потому что из col он не достается  #}
            <td class="{{ column.style }}">{{ row.cells[column.field]|raw }}</td>
        {% endfor %}
    </tr>
{% endfor %}