{% extends 'project/edit.base.html.twig' %}

{% block edit_page_title%}{{ 'project.edit.task_settings'|trans }}{% endblock %}

{% block edit_page %}
    {{ form_start(form) }}

{% endblock %}

{% block box_footer %}
    <div class="pull-right">
        <button type="submit" class="btn btn-success">{{ 'Edit'|trans }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}