{% extends 'base.html.twig' %}

{% block title %}Имя проекта{% endblock %}
{% block page_title%}Имя проекта{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block page_content %}
    <div class="row">
        {% embed 'project/widget.html.twig' with {'description_length': 0} %}{% endembed %}
    </div>
{% endblock %}