{% macro badge(user, link = false) %}
    {% if link %}
        <a class="invisible_link" href="{{ path('user.index', {'username': user.username}) }}">
    {% endif %}
    <i class="fa fa-user"></i>
    <span {{ user.isLocked ? 'class="style-deleted"' }}>@{{ user.username }}</span>
        {% if user.isLocked %}<span class="label label-default">{{ 'locked'|trans }}</span>{% endif %}
    {% if link %}
        </a>
    {% endif %}
{% endmacro %}